body {
  display: grid;
  font-family: sans-serif;
  font-size: 24px;
  margin: 0;
  min-height: 100vh;
  grid-template-columns: 0.5fr 0.5fr 2fr 1fr 1fr 0.5fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr 0.5fr 0.5fr;
  background-color: grey;
}

.board {
  background-color: #38b18a;
  grid-column: 1/7;
  grid-row: 2/5;}

.opponent {
  background-color: #92d97c;
  grid-column:2/6;
  grid-row:1/2;}

.player{
  background-color: darksalmon;
  grid-column:2/6;
  grid-row:5/7;
  display:grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: subgrid;
  gap:10px;
}

.deal {
  background-color: #f9f871;
  grid-column:7/8;
  grid-row: 2/6;}

.btn {
  grid-column:7/8;}

.d0_0 {
  background-image: url("../images/d0_0.png")}

.d0_1 {
  background-image: url("../images/d0_1.png")}

.d0_2 {
  background-image: url("../images/d0_2.png")}

.d0_3 {
  background-image: url("../images/d0_3.png")}

.d0_4 {
  background-image: url("../images/d0_4.png")}

.d0_5 {
  background-image: url("../images/d0_5.png")}

.d0_6 {
  background-image: url("../images/d0_6.png")}

.d1_1 {
  background-image: url("../images/d1_1.png")}

.d1_2 {
  background-image: url("../images/d1_2.png")}

.d1_3 {
  background-image: url("../images/d1_3.png")}

.d1_4 {
  background-image: url("../images/d1_4.png")}

.d1_5 {
  background-image: url("../images/d1_5.png")}

.d1_6 {
  background-image: url("../images/d1_6.png")}

.d2_2 {
  background-image: url("../images/d2_2.png")}

.d2_3 {
  background-image: url("../images/d2_3.png")}

.d2_4 {
  background-image: url("../images/d2_4.png")}

.d2_5 {
  background-image: url("../images/d2_5.png")}

.d2_6 {
  background-image: url("../images/d2_6.png")}

.d3_3 {
  background-image: url("../images/d3_3.png")}

.d3_4 {
  background-image: url("../images/d3_4.png")}

.d3_5 {
  background-image: url("../images/d3_5.png")}

.d3_6 {
  background-image: url("../images/d3_6.png")}

.d4_4 {
  background-image: url("../images/d4_4.png")}

.d4_5 {
  background-image: url("../images/d4_5.png")}

.d4_6 {
  background-image: url("../images/d4_6.png")}

.d5_5 {
  background-image: url("../images/d5_5.png")}

.d5_6 {
  background-image: url("../images/d5_6.png")}

.d6_6 {
  background-image: url("../images/d6_6.png")}

  .dblank {
    background-image: url("../images/d0_0.png")}